/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERAL */
body{
    font-family: Helvetica;
}
.d_flex{
    display: flex;
}
.d_block{
    display: block;
}
.d_none{
    display: none;
}
.avatar_image{
    height: 60px;
    border-radius: 50%;
}

/* Texts */
.font_20{
    font-size: 20px;
}
.font_18{
    font-size: 18px;
}
.font_14{
    font-size: 14px;
}
.light_bold{
    font-weight: 600;
}
.gray_text{
    color: #8d9496;
}
.underlined_text{
    text-decoration: underline;
}

/* Containers */
.webapp_container{
    width: 100%;
    min-width: 1000px;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, #009688 0px, #009688 15vh, #dddbd1 15vh, #d2dbdc 100%);
}
.app_container{
    width: 80%;
    height: 95%;
    background-color: #eaeaea;
}

/* Bar */
.bar{
    padding: 15px;
    align-items: center;
    justify-content: space-between;
}
.top_bar_l_col{
    align-items: center;
}
.top_bar_l_col span{
    margin-left: 10px;
}
.top_bar_r_col i{
    font-size: 20px;
    color: #b1b1b1;
    margin: 0 10px;
    cursor: pointer;
}
.right_col .bar{
    border-left: 1px solid lightgray;
}



/* LEFT GENERAL COL */
.left_col{
    width: 35%;
    height: 100%;
    flex-direction: column;
}

/* Notifications Bar */
.notification_bar.bar{
    background-color: #8edafb;
    padding: 20px 25px;
    justify-content: flex-start;
}
.notification_bar i{
    height: 60px;
    width: 60px;
    background-color: white;
    color: #8edafb;
    font-size: 25px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.notification_texts{
    margin-left: 20px;
}
.notification_texts .underlined_text{
    cursor: pointer;
}

/* Search conversation */
.serach_conv_bar{
    padding: 10px 20px;
}
.search{
    background-color: white;
    padding: 5px 30px;
    align-items: center;
}
.search input{
    flex-grow: 1;
    background-color: white;
    border: none;
    margin-left: 10px;
    font-size: 14px;
    padding: 5px;
}

/* Contacts */
.contacts_container{
    flex-grow: 1;
    overflow-y: auto;
    padding: 10px 0;
    background-color: white;
}
.single_contact{
    padding: 15px 20px;
    cursor: pointer;
    position: relative;
}
.single_contact:hover{
    background-color: #eaeaea;
}
.single_contact img{
    height: 60px;
    border-radius: 50%;
}
.single_contact span{
    margin-left: 15px;
}
.single_contact.active_bg{
    background-color: lightgray;
}
.last_message{
    margin-left: 15px;
    margin-top: 5px;
}
.last_message_date{
    position: absolute;
    right: 10px;
    top: 10px;
}


/* RIGHT GENERAL COL */
.right_col{
    width: 65%;
    height: 100%;
    flex-direction: column;
}

/* Chats */
.chats{
    flex-grow: 1;
    background-image: url('../../img/mine.jpg');
    overflow-y: auto;
}
.messages_container{
    display: flex;
    width: 80%;
    margin: auto;
    flex-direction: column;
}
.message{
    position: relative;
    max-width: 80%;
    padding: 15px 5px 5px 15px;
    border-radius: 10px;
    margin: 10px 0;
}
.main_message{
    word-wrap: break-word; 
}
.drop_down_icon i{
    position: absolute;
    right: 15px;
    top: 5px;
    font-size: 13px;
    font-weight: 800;
    cursor: pointer;
    display: none;
}
.message:hover .drop_down_icon i{
    display: block;
}
.drop_down_menu{
    position: absolute;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid lightgray;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    z-index: 1;
    right: 3px;
    bottom: -55px;
    display: none;
}
.drop_down_menu.d_block{
    display: block;
}
.drop_down_menu div{
    width: 150px;
    padding: 10px 15px; 
    font-size: 14px;
    background-color: white;
    text-align: center;
    cursor: pointer;
}
.drop_down_menu div:hover{
    color: darkgray;
}
.received{
    background-color: white;
    float: left;
}
.sent{
    background-color: #d5f9ba;
    float: right;
}
.date_time{
    font-size: 12px;
    margin-top: 5px;
    margin-left: 150px;
    float: right;
}

/* User actions */
.user_actions{
    padding: 10px 20px;
}
.actions{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.actions i{
    font-size: 28px;
}
.actions input{
    padding: 18px 10px;
    border: none;
    font-size: 15px;
    width: 85%;
}